<h3>Ингридиенты продукта</h3>

<ul class="form-panel" ng-repeat="ingr in main.curdrink.ingredients">
    <li>{{ingr.name}} {{ingr.count}}  {{ingr.mass}}</li>
</ul>

<label class="col-sm-2 col-sm-2 control-label">Название</label>
<div class="col-sm-10">
    <input type="text"

           class="form-control"
           ng-model="main.ingridient.name"
           placeholder="{{main.ingridient.name}}"
           disabled>
</div>

<label class="col-sm-2 col-sm-2 control-label">Единицы</label>
<div class="col-sm-10">
    <input type="text"

           class="form-control"
           ng-model="main.ingridient.mass"
           placeholder="{{main.ingridient.mass}}"
           disabled>
</div>


<label class="col-sm-2 col-sm-2 control-label">Количество</label>
<div class="col-sm-10">
    <input type="text" class="form-control" ng-model="main.ingridient.count">
</div>

<p>.</p>
<button type="button" class="btn btn-theme02" ng-click="main.addIngridientToDrink()" ng-if="main.ingridient.name">
    <i class="fa fa-check"></i>
    Добавить к напитку
</button>





