<div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
</div>
<!--logo start-->
<a href="#" class="logo"><b>{{main.title}}</b></a>
<!--logo end-->
<div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">

        <li >
            <button type="button" class="btn btn-info" ng-click="main.chooseDrinkType(group)" ng-repeat="group in main.groups">{{group.name}}</button>
        </li>

    </ul>
    <!--  notification end -->
</div>

<div class="top-menu">
    <ul class="nav pull-right top-menu">
        <li><a class="logout" href="#" ng-click="main.needNewGroup()">Новая группа</a></li>
    </ul>
</div>
<div class="top-menu">
    <ul class="nav pull-right top-menu">
        <li><a class="logout" href="#" ng-click="main.needNewIngngridientForDB()">Новый ингридиент</a></li>
    </ul>
</div>