
<!--logo end-->
<div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">


    </ul>
    <!--  notification end -->
</div>

<div class="top-menu">
    <ul class="nav pull-right top-menu">
        <li><a class="logout" href="#" ng-click="main.needNewGroup()">Новая группа</a></li>
    </ul>
</div>
<div class="top-menu">
    <ul class="nav pull-right top-menu">
        <li><a class="logout" href="#" ng-click="main.needNewIngngridientForDB()">Новый ингридиент</a></li>
    </ul>
</div>